.blogInstance {
  background-color: #f9f9fa;
  padding: 15px;
  margin-right: 0px;
  max-width: 300px;
  border-radius: 10px;
}

.blogInstance img {
  max-height: 70px;
  width: 270px;
  object-fit: cover;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}
